<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>Employees | Edit Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

</head>

<body>
    <section id="empEditNav">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#" id="username">username</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="create">Create Request</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="employeehome">ERB Requests</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link active" href="profile"> Edit Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <br>
    <br>
    <section id="createReqSection">
        <div class="container text-center">
            <h2>Edit profile</h2>
        </div>
        <br>
        <div class="container text-left">
            <form action="profile" method="POST">
                <div >
                    <label >Employee ID</label>
                    <br>
                    <input type="number"  id="empId" name="id">
                </div>
                <div class="form-group">
                    <label >Employee Name</label>
                      <br>
                    <input type="text"  id="empName" placeholder="" name="name">
                </div>
                <div class="form-group">
                
                    <input type="hidden" id="empJobTitle" placeholder="" name="position" disabled>
                </div>
                <div class="form-group">
                    <label >Username</label>
                      <br>
                    <input type="text"  id="empUsername" placeholder="" name="username">
                </div>
             
                <input type="submit" value="Save" >
            </form>
        </div>

    </section>

    <script type="text/javascript" src="Scripts/isEmployeeSession.js"></script>
    <script type="text/javascript" src="Scripts/editProfile.js"></script>
</body>

</html>