<!DOCTYPE html>
<html>

<head>
  <meta charset="ISO-8859-1">
  <title>Employees | Create Reimbursement Request</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

</head>

<body>
  <section id="mgmtNav">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#" id="username">username</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
			 aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
				<li class="nav-item">
						<a class="nav-link" href="Mcreate">Create Request</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="managerhome">ERB Management</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="allemployees">View Employees</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="logout">Logout</a>
					</li>

				</ul>
			</div>
		</nav>
	</section>
  <br>
  <br>
  <section id="createReqSection">
    <div class="container text-center">
      <h2>New request</h2>
    </div>
    <br>
    <div class="container text-left">
      <form action="Mcreate" method="POST" enctype='multipart/form-data'>
                  <input type="text" id="formGroupExampleInput2" placeholder="Amount" name="reimbursementAmount">
            <br>
              <div>
               <input type="hidden"  id="empId" placeholder="Employee ID" name="employeeId" >
                </div>
        <br>
	Receipt: <br />
			<input type="file" name="pic" accept="image/*"> <br /> <input
				type="submit" id="picture" value="Submit" />
      </form>
    </div>

  </section>
  <script type="text/javascript" src="Scripts/allERBs.js"></script>
</body>

</html>