<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>P1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NewEmployeeServlet</display-name>
    <servlet-name>NewEmployeeServlet</servlet-name>
    <servlet-class>com.revature.servlets.NewEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewEmployeeServlet</servlet-name>
    <url-pattern>/new</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginVerifyServlet</display-name>
    <servlet-name>LoginVerifyServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginVerifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginVerifyServlet</servlet-name>
    <url-pattern>/loginverify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionManagerServlet</display-name>
    <servlet-name>SessionManagerServlet</servlet-name>
    <servlet-class>com.revature.servlets.SessionManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionManagerServlet</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeHomeServlet</display-name>
    <servlet-name>EmployeeHomeServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeHomeServlet</servlet-name>
    <url-pattern>/employeehome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerHomeServlet</display-name>
    <servlet-name>ManagerHomeServlet</servlet-name>
    <servlet-class>com.revature.servlets.ManagerHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerHomeServlet</servlet-name>
    <url-pattern>/managerhome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursementServlet</display-name>
    <servlet-name>ReimbursementServlet</servlet-name>
    <servlet-class>com.revature.servlets.ReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementServlet</servlet-name>
    <url-pattern>/reimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeCreateRequestServlet</display-name>
    <servlet-name>EmployeeCreateRequestServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeCreateRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeCreateRequestServlet</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployeesServlet</display-name>
    <servlet-name>ViewEmployeesServlet</servlet-name>
    <servlet-class>com.revature.servlets.ViewEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployeesServlet</servlet-name>
    <url-pattern>/allemployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileServlet</display-name>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>com.revature.servlets.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllEmployeesServlet</display-name>
    <servlet-name>GetAllEmployeesServlet</servlet-name>
    <servlet-class>com.revature.servlets.GetAllEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllEmployeesServlet</servlet-name>
    <url-pattern>/employees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeReimbursementsServlet</display-name>
    <servlet-name>EmployeeReimbursementsServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeReimbursementsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeReimbursementsServlet</servlet-name>
    <url-pattern>/requests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DenyRequestServlet</display-name>
    <servlet-name>DenyRequestServlet</servlet-name>
    <servlet-class>com.revature.servlets.DenyRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DenyRequestServlet</servlet-name>
    <url-pattern>/deny</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpERBsServlet</display-name>
    <servlet-name>EmpERBsServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmpERBsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpERBsServlet</servlet-name>
    <url-pattern>/erbemployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerCreateRequestServlet</display-name>
    <servlet-name>ManagerCreateRequestServlet</servlet-name>
    <servlet-class>com.revature.servlets.ManagerCreateRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerCreateRequestServlet</servlet-name>
    <url-pattern>/Mcreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPhoto</display-name>
    <servlet-name>GetPhoto</servlet-name>
    <servlet-class>com.revature.servlets.GetPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPhoto</servlet-name>
    <url-pattern>/GetPhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetReceiptWithID</display-name>
    <servlet-name>GetReceiptWithID</servlet-name>
    <servlet-class>com.revature.servlets.GetReceiptWithID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReceiptWithID</servlet-name>
    <url-pattern>/GetReceiptWithID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>allApproved</display-name>
    <servlet-name>allApproved</servlet-name>
    <servlet-class>com.revature.servlets.allApproved</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allApproved</servlet-name>
    <url-pattern>/allApproved</url-pattern>
  </servlet-mapping>
</web-app>